/* icones en https://lucide.dev/icons/ */
.callout[data-callout="rosa"]{
	--callout-color: 209, 50, 129;
	--callout-icon: eye;
}
.callout[data-callout="idea"] {
    --callout-color: 245, 213, 55;
    --callout-icon: lucide-lightbulb;
}
.callout[data-callout="codi"]{
	--callout-color: 78, 108, 177;
	--callout-icon: code;
}